 .box{
    width: 100%;
    height: 1024px;
    background-color: rgb(21, 107, 78);
    margin: auto;

 }

 header{
    width: 400px;
    height:90px;
    background-color: brown;
    margin: auto;color: white;
 }
 

 .box2{
    width: 700px;
    height: 400px;
    background-color: black;
    border: 5px solid red;
    margin: auto;
    margin-top: 50px;
 }

 .box3{
    width:600px;
    height: 100ox;
    background-color: aquamarine;
    color: rgb(27, 7, 7);
    margin: auto;
    margin-top: 100px;
    margin-left: 50px;
   
    
 }
 .box4{
width: 600px;
height: 70px;
background-color: aquamarine;
color: black;
margin: auto;
margin-top: 100px;
 margin-left: 50px;

 
 
    
 }